body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1432px;
  height:682px;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:1432px;
  height:682px;
}
#u3436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:773px;
  height:106px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:769px;
  word-wrap:break-word;
}
