body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:574px;
}
#u3406 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:172px;
  width:1226px;
  height:574px;
}
#u3406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:676px;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:196px;
  height:676px;
}
#u3407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:75px;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:97px;
  width:1201px;
  height:75px;
}
#u3408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:773px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:769px;
  word-wrap:break-word;
}
#u3410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:409px;
  width:87px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u3411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:621px;
  width:87px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
