body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:930px;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1912px;
  height:930px;
}
#u3445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:501px;
  width:102px;
  height:47px;
}
#u3446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1060px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  word-wrap:break-word;
}
#u3448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:158px;
  width:69px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u3449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:501px;
  width:102px;
  height:47px;
}
#u3449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:722px;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:1976px;
  top:100px;
  width:1655px;
  height:722px;
}
#u3450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1657px;
  height:236px;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:822px;
  width:1657px;
  height:236px;
}
#u3451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1653px;
  height:731px;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:1294px;
  width:1653px;
  height:731px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:2026px;
  top:841px;
  width:98px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u3453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u3454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1657px;
  height:236px;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:1058px;
  width:1657px;
  height:236px;
}
#u3454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:2026px;
  top:1078px;
  width:98px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u3455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
