.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
._流程形状 {
}
.icon {
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.line {
}
.line1 {
}
.arrow {
}
.refs-design-material {
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
.image1 {
  color:#000000;
}
.horizontal_line {
}
.refs-design-fluent {
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
._图片 {
  color:#000000;
}
.box_2 {
}
.shape {
}
.paragraph {
  text-align:left;
}
.image2 {
  color:#000000;
}
.label1 {
  font-size:14px;
  text-align:left;
}
._图片1 {
}
._形状 {
}
._图片_ {
}
.ellipse {
}
._表格 {
}
._连接线 {
  font-family:'仿宋';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
._连接 {
}
.marker {
  color:#FFFFFF;
}
