body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:403px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:30px;
  width:222px;
  height:403px;
}
#u5264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:68px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:77px;
  width:0px;
  height:0px;
}
#u5266_seg0 {
  border-width:0px;
  position:absolute;
  left:-265px;
  top:-4px;
  width:265px;
  height:8px;
}
#u5266_seg1 {
  border-width:0px;
  position:absolute;
  left:-265px;
  top:-4px;
  width:8px;
  height:19px;
}
#u5266_text {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:434px;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:577px;
  width:232px;
  height:434px;
}
#u5267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:609px;
  width:300px;
  height:69px;
}
#u5268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:644px;
  width:0px;
  height:0px;
}
#u5269_seg0 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:-4px;
  width:226px;
  height:8px;
}
#u5269_seg1 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:-4px;
  width:8px;
  height:30px;
}
#u5269_text {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:416px;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1111px;
  width:239px;
  height:416px;
}
#u5270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:1060px;
  width:300px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:1095px;
  width:0px;
  height:0px;
}
#u5272_seg0 {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-4px;
  width:165px;
  height:8px;
}
#u5272_seg1 {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-4px;
  width:8px;
  height:53px;
}
#u5272_text {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
